# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js (Next.js 전용 빌드 폴더)
/.next/
/out/

# production (일반적인 빌드 폴더)
/build
/dist          # <--- 추가됨

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env.apple.local
.env.test.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
